
	/* Styling the body */
	section {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-position: center;
		animation: flashImages 20s infinite;
	}

	@keyframes flashImages {
		0% { background-image: url('/aslider/h1.jpg'); }
		20% { background-image: url('/aruga_gallery/g9.jfif'); }
		40% { background-image: url('/aslider/h3.jpg'); }
		60% { background-image: url('/aruga_gallery/g14.jfif'); }
		80% { background-image: url('/aruga_gallery/g15.jfif'); }
		100% { background-image: url('/aruga_gallery/g3.jfif'); }
	}

	/* Styling section, giving background
		image and dimensions */
	/* Styling the header */
	header {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		background: rgba(0, 0, 0, 0.7);
		padding: 10px 0;
		color: #fff;
	}

	/* Styling the left floating section */
	.leftBox {
		width: 50%;
		padding: 50px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		margin: 0 auto; /* Center the leftBox horizontally */
	}
	
	/* Styling the background of 
		left floating section */
	.leftBox .content {
		color: #fff;
		background: rgba(0, 0, 0, 0.5);
		padding: 40px;
		transition: .5s;
	}
	

	/* Styling the hover effect 
		of left floating section */
	.leftBox .content:hover {
		background: #e91e63;
	}

	/* Styling the header of left 
		floating section */
	.leftBox .content h1 {
		margin: 0;
		padding: 0;
		font-size: 50px;
		text-transform: uppercase;
	}

	/* Styling the paragraph of 
		left floating section */
	.leftBox .content p {
		margin: 10px 0 0;
		padding: 0;
	}

	/* Styling the three events section */
	.events {
		position: relative;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		box-sizing: border-box;
		overflow-y: auto; /* Add scrollbar if content exceeds height */
		padding: 60px 15px 15px; /* Add padding for scrollbar and spacing */
	}

	/* Styling the links of 
	the events section */
	.events ul {
		padding: 0;
		margin: 0 auto; /* Center the ul horizontally */
		width: 100rem; /* Set a fixed width */
		align-items: center; /* Center the list items within the ul */
	}
	

	/* Styling the lists of the event section */
	.events ul li {
		list-style: none;
		background: #fff;
		box-sizing: border-box;
		margin: 15px 0;
		display: flex;
	}

	/* Styling the time class of events section */
	.events ul li .time {
		width: 30%;
		background: #262626;
		text-align: center;
		transition: .5s;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: #fff;
	}

	/* Styling the hover effect
		of events section */
	.events ul li:hover .time {
		background: #e91e63;
	}

	/* Styling the header of time 
		class of events section */
	.events ul li .time h2 {
		margin: 0;
		padding: 0;
		font-size: 30px;
	}

	/* Styling the texts of time 
	class of events section */
	.events ul li .time h2 span {
		font-size: 20px;
	}

	/* Styling the details 
	class of events section */
	.events ul li .details {
		padding: 20px;
		background: #fff;
		width: 70%;
		box-sizing: border-box;
	}

	/* Styling the header of the 
	details class of events section */
	.events ul li .details h3 {
		margin: 0;
		padding: 0;
		font-size: 22px;
	}

	/* Styling the lists of details 
	class of events section */
	.events ul li .details p {
		margin: 10px 0 0;
		padding: 0;
		font-size: 16px;
	}

	/* Styling the links of details
	class of events section */
	.events ul li .details a {
		display: inline-block;
		text-decoration: none;
		padding: 10px 15px;
		border: 1.5px solid #262626;
		margin-top: 8px;
		font-size: 18px;
		transition: .5s;
	}

	/* Styling the details class's hover effect */
	.events ul li .details a:hover {
		background: #e91e63;
		color: #fff;
		border-color: #e91e63;
	}

	.details img{
		width:90px;
		height:90px;
		float:right;
		align-items:center;
		margin-bottom:2	0px;
	}
	h2 {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: #A3C9D2;
		text-transform: uppercase;
		margin-bottom: 20px;
		border-bottom: 2px solid #f39c12;
		padding-bottom: 10px;
		text-align: center;
	}
	
	.leftBox {
		text-align: center;
	}
	
	.events {
		align-items: center;
	
	}
	section{
		width:100%;
	}
	h2 {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: #666bed;
		text-transform: uppercase;
		margin-bottom: 20px;
		border-bottom: 2px solid #f39c12;
		padding-bottom: 10px;
		text-align: center;
		padding-left: 13px;
	}
	
	.leftBox {
		text-align: center;
	}
	
	.events {
		align-items: center;
	
	}
	section{
		width:100%;
	}